* {
  margin: 0;
  padding: 0;
}

.main_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d3d3d3;
  min-height: 100vh;
}

.food_page {
  min-height: 93vh;
}

.btn {
  padding: 10px;
  width: 8rem;
  margin-top: 10px;
  border-radius: 5px;
}

/* navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 3rem;
  background-color: #d3d3d3;
}

.nav_links {
  margin-left: 10rem;
  display: flex;
  list-style: none;
  gap: 30px;
}

/* navbar styling */

/* food-list page styling */
.food_btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.food_link {
  text-decoration: none;
}

.food_list {
  margin-top: 15px;
  list-style: none;
  border: 1px solid black;
  padding-left: 5px;
}

.food_item {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.food_item > p {
  width: 10rem;
  border-right: 1px solid black;
  padding: 10px 0;
}

/* food-list page styling */

/* signup/signin form styling */
.form_header {
  font-size: 32px;
}

.field_form {
  margin-top: 10px;
  font-size: 18px;
}

.input {
  width: 20rem;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.actions {
  margin-top: 10px;
}

.button {
  padding: 10px;
  width: 8rem;
}

/* signup/signin form styling */

/* home page styling */
.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.home_text {
  font-size: 32px;
}

/* home page styling */
